## First we want to import the 'pandas' library  as 'pd'##

In [1]:
import pandas as pd

**After we import the pandas library we want to load in our dataset using the pd.read_csv() function and assign that to a variable.**

In [2]:
songs_1978 = pd.read_csv("../../datasets/billboard_1978.csv")

**Now when we call that dataset using the given variable name (songs_1978)
with that variable we want to request the top ten songs of 1978 using the .head()"head meaning the top of the dataset" function and passing through 10 as an 'arg' to recieve the top 10 songs(if no # is pass through the function you will recieve the first 5 items of the dataset standard) 
Dataset rows/columns always start with at 0,1,2 and so on.**

In [3]:
songs_1978.head(10)

,Year,Hot_Singles_Rank,Title,Artist,Genre,Weeks_On_Chart,Peak_Chart_Position,Maj_Min,BPM
0,1978,1,"""Shadow Dancing""",Andy Gibb,Pop,25,1,Min,102
1,1978,2,"""Night Fever""",Bee Gees,Pop,20,1,Min,110
2,1978,3,"""You Light Up My Life""",Debby Boone,Country,25,1,Maj,78
3,1978,4,"""Stayin' Alive""",Bee Gees,Pop,27,1,Min,103
4,1978,5,"""Kiss You All Over""",Exile,Country,23,1,Maj,104
5,1978,6,"""How Deep Is Your Love""",Bee Gees,Pop,33,1,Maj,105
6,1978,7,"""Baby Come Back""",Player,Pop,32,1,Maj,78
7,1978,8,"""(Love Is) Thicker Than Water""",Andy Gibb,Pop,29,1,Min,96
8,1978,9,"""Boogie Oogie Oogie""",A Taste of Honey,R&B/Soul,23,1,Min,126
9,1978,10,"""Three Times a Lady""",Commodores,R&B/Soul,20,1,Maj,76

**And just like the .head() function we have a .tail() which give the bottom 5 items in the dataset standard if no 'arg' is pass through the function. but in this case we want to pass through 10 as the 'arg' to recieve the last 10 songs of 1978**

In [4]:
songs_1978.tail(10)

,Year,Hot_Singles_Rank,Title,Artist,Genre,Weeks_On_Chart,Peak_Chart_Position,Maj_Min,BPM
90,1978,91,"""Native New Yorker""",Odyssey,Pop,19,21,Maj,110
91,1978,92,"""Flash Light""",Parliament,R&B/Soul,16,16,Maj,106
92,1978,93,"""Don't Look Back""",Boston,Rock,13,4,Maj,122
93,1978,94,"""Turn to Stone""",Electric Light Orchestra,Rock,15,13,Maj,138
94,1978,95,"""I Can't Stand the Rain""",Eruption,Pop,22,18,Maj,108
95,1978,96,"""Ebony Eyes""",Bob Welch,Rock,17,14,Maj,118
96,1978,97,"""The Name of the Game""",ABBA,Pop,16,12,Maj,76
97,1978,98,"""We're All Alone""",Rita Coolidge,Pop,20,7,Maj,66
98,1978,99,"""Hollywood Nights""",Bob Seger & The Silver Bullet Band,Rock,13,12,Maj,150
99,1978,100,"""Deacon Blues""",Steely Dan,Rock,16,19,Maj,114

**We are calling the .shape() function to recieve the number of rows and columns of the dataset which in this case is giving on line [5] output 100 = rows , 9 =columns**

In [5]:
songs_1978.shape

(100, 9)

**the .info function gives us the names of the columns and the datatype of those columns, than gives use the count for the diffrent datasets at the bottom. 
*in this case there are 4 columns with 'integers' and 5 columns with 'objects' which usually refers to strings**

In [6]:
 songs_1978.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Year                 100 non-null    int64
 1   Hot_Singles_Rank     100 non-null    int64
 2   Title                100 non-null    object
 3   Artist               100 non-null    object
 4   Genre                100 non-null    object
 5   Weeks_On_Chart       100 non-null    object
 6   Peak_Chart_Position  100 non-null    int64
 7   Maj_Min              100 non-null    object
 8   BPM                  100 non-null    int64
dtypes: int64(4), object(5)
memory usage: 7.2+ KB

**The .desrcibe() function gives the following data beleow:**

In [7]:
songs_1978.describe()

         Year  Hot_Singles_Rank  Peak_Chart_Position         BPM
count   100.0        100.000000           100.000000  100.000000
mean   1978.0         50.500000             6.940000  107.700000
std       0.0         29.011492             5.112512   20.396821
min    1978.0          1.000000             1.000000   64.000000
25%    1978.0         25.750000             3.000000   96.000000
50%    1978.0         50.500000             6.000000  110.000000
75%    1978.0         75.250000            11.000000  122.000000
max    1978.0        100.000000            21.000000  156.000000

**the .iloc() allows you call a specfic cell in the dataset. Below we called these three items using the .iloc() fucntion by first inputing the row# and than the column#**

In [8]:
songs_1978.iloc[1,3]

'Bee Gees'

In [9]:
songs_1978.iloc[1,4]

'Pop'

In [10]:
songs_1978.iloc[49,2]

'"Thunder Island"'